.back-icon {
  background-image: url(/assets/icons/arrow_back.png);
  rotate: 180deg;
}

.reset-icon {
  background-image: url(/assets/icons/icons8-reset-96.png);
}

.time-icon {
  background-image: url(/assets/icons/icons8-time-96.png);
}

.home-icon {
  background-image: url(/assets/icons/service.png);
}

.arrow-icon {
  background-image: url(/assets/icons/arrow_back.png);
}

.destination-arrow {
  background-image: url(/assets/icons/icons8-right-2-96.png);
}
