<div class="content-wrapper">
  <div class="budget-wrapper">
    <div class="chart-wrapper">
      <ngx-charts-pie-chart
        [results]="chartData"
        [doughnut]="doughnut"
        [legend]="true"
        [legendTitle]="''"
        [customColors]="colorScheme"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
  <div class="usage-wrapper">
    <div class="chart-wrapper">
      <ngx-charts-bar-vertical-2d
        [results]="chartData2"
        [xAxis]="true"
        [yAxis]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [customColors]="customColors"
        xAxisLabel="Date"
        yAxisLabel="Amount of Money"
      ></ngx-charts-bar-vertical-2d>
    </div>
  </div>
</div>

