.dashboard-icon {
  background-image: url(/assets/icons/dashboard.png);
}

.budget-icon {
  background-image: url(/assets/icons/budget.png);
}

.notification-icon {
  background-image: url(/assets/icons/notification.png);
}

.profile-icon {
  background-image: url(/assets/icons/profile.png);
}

.settings-icon {
  background-image: url(/assets/icons/settings.png);
}

.sign-out-icon {
  background-image: url(/assets/icons/sign_out.png);
}
