<div class="navbar-wrapper">
  <div class="logo-wrapper">
    <div class="text">
      BUDGETIZE
    </div>
  </div>
  <div class="button">
    <div class="icon dashboard-icon"></div>
    <div class="text">Dashboard</div>
  </div>
  <div class="button">
    <div class="icon budget-icon"></div>
    <div class="text">Budget</div>
  </div>
  <div class="button" id="notifications">
    <div class="icon notification-icon"></div>
    <div class="text">Notifications</div>
  </div>
  <div class="button">
    <div class="icon profile-icon"></div>
    <div class="text">Profile</div>
  </div>
  <div class="button">
    <div class="icon settings-icon"></div>
    <div class="text">Settings</div>
  </div>
  <div class="button">
    <div class="icon sign-out-icon"></div>
    <div class="text">Sign out</div>
  </div>
</div>
