<section class="wrapper">
  <div class="background">
    <div class="promo">
      <article class="inner">
        <div class="header">Providing the highest quality service</div>
        <div class="time">24 hours a day</div>
        <div class="button">Try it out</div>
      </article>
    </div>
  </div>
  <div class="features-wrapper">
    <div class="header">Our features</div>
    <div class="features">
      <div class="feature">
        <div class="icon pricing-icon"></div>
        <div class="header">Pricing</div>
        <div class="description">Prices depends on size of cargo</div>
      </div>
      <div class="feature">
        <div class="icon time-icon"></div>
        <div class="header">Time</div>
        <div class="description">Cargo arrives in time</div>
      </div>
      <div class="feature">
        <div class="icon online-icon"></div>
        <div class="header">Online</div>
        <div class="description">Track your cargo in real time</div>
      </div>
      <div class="feature">
        <div class="icon subscription-icon"></div>
        <div class="header">Subscription</div>
        <div class="description">For our regular clients</div>
      </div>
    </div>
  </div>
</section>
