<div class="wrapper">
  <section class="background">
    <div class="promo">
      <article class="inner">
        <div class="header">Providing the highest quality service</div>
        <div class="time">24 hours a day</div>
        <div class="button">Try it out</div>
      </article>
    </div>
  </section>

  <section class="features-wrapper">
    <div class="header">Our features</div>
    <div class="features">
      <a class="feature" href="#pricing">
        <div class="icon pricing-icon" ></div>
        <div class="header">Pricing</div>
        <div class="description">Prices depends on size of cargo</div>
      </a>
      <a class="feature" href="#time">
        <div class="icon time-icon"></div>
        <div class="header">Time</div>
        <div class="description">Cargo arrives in time</div>
      </a>
      <a class="feature" href="#online">
        <div class="icon online-icon"></div>
        <div class="header">Online</div>
        <div class="description">Track your cargo in real time</div>
      </a>
      <a class="feature" href="#subscription">
        <div class="icon subscription-icon"></div>
        <div class="header">Subscription</div>
        <div class="description">For our regular clients</div>
      </a>
    </div>
  </section>

  <section class="feature-article" style="background-color: #0F6D5F" id="pricing">
    <img class="image" alt="the picture cannot be loaded" src="https://img.freepik.com/free-vector/transactional-marketing-abstract-illustration_335657-5035.jpg?w=740&t=st=1695885093~exp=1695885693~hmac=462e3792619142884c5b63189e6472415eec0824e7240053729755d0362ab041">
    <ol type="I" class="description">
      <li><em>Transparent Pricing:</em>
        <p>We believe in transparency.
      </li>
      <li>
        <em>Customized Solutions:</em>
        <p>We understand that every cargo shipment is unique.
      </li>
      <li>
        <em>Cost-Efficient Routing:</em>
        <p>Our team of logistics are experts.
      </li>
      <li>
        <em>Bulk Discounts:</em>
        <p>Take advantage of our attractive bulk discounts.
      </li>
      <li>
        <em>Quality Service:</em>
        <p>Affordable pricing doesn't mean compromising on service quality.
      </li>
      <li>
        <em>Savings for Small Businesses:</em>
        <p>We understand the challenges faced by small businesses.
      </li>
    </ol>
  </section>

  <section class="feature-article" id="time">
    <img class="image" alt="the picture cannot be loaded" src="https://img.freepik.com/free-vector/background-of-coming-soon-with-a-clock_1017-5059.jpg?w=740&t=st=1695884786~exp=1695885386~hmac=d649c06fe9d3ea4e71de68ee924fb85834b9f958fda7ecf205b85a1759c81144">

    <ol type="I" class="description">
      <li><em>Reliable Commitment:</em>
        <p>We take punctuality seriously.
      </li>
      <li>
        <em>Precision Timing:</em>
        <p>State-of-the-art tracking.
      </li>
      <li>
        <em>Efficient Operations:</em>
        <p>Advanced technology minimize transit times.
      </li>
      <li>
        <em>Global Reach:</em>
        <p>We deliver cargo worldwide in best timing.
      </li>
      <li>
        <em>Customer Priority:</em>
        <p>We have 24/7 support team.
      </li>
      <li>
        <em>Your Promises, Our Priority:</em>
        <p>Trust us for on-time cargo delivery.
      </li>
    </ol>
  </section>

  <section class="feature-article" style="background-color: #0F6D5F" id="online">
    <img class="image" alt="the picture cannot be loaded" src="https://img.freepik.com/free-vector/tracking-delivery-package-on-smartphone-application-delivery-point-validation-delivery-driver-app-independent-courier-concept-pinkish-coral-bluevector-isolated-illustration_335657-1784.jpg?w=1060&t=st=1695888339~exp=1695888939~hmac=b0187d84fda1c45cc98bc9ed6f728fa3c66d3d94a6848addfd8e3ceac8fc8905">
    <ol type="I" class="description">
      <li><em>Easy Booking:</em>
        <p>Our user-friendly website allows you to book your cargo delivery in just a few clicks.
      </li>
      <li>
        <em>Real-Time Tracking:</em>
        <p>Stay in control with real-time tracking of your cargo.
      </li>
      <li>
        <em>Secure Payments:</em>
        <p> We prioritize your security.
      </li>
      <li>
        <em>Instant Quotes:</em>
        <p>Get instant quotes for your cargo delivery right on our website.
      </li>
      <li>
        <em>Booking History:</em>
        <p>Easily access your shipment history for reference and future planning.
      </li>
      <li>
        <em>Mobile-Friendly:</em>
        <p> Whether you're on your computer, tablet, or smartphone.
      </li>
    </ol>
  </section>

  <section class="feature-article" id="subscription">
    <img class="image" alt="the picture cannot be loaded" src="https://img.frepik.com/fr0053729755d0362ab041">
    <ol type="I" class="description">
      <li><em>Priority Scheduling:</em>
        <p>You'll enjoy priority scheduling for your cargo deliveries.
      </li>
      <li>
        <em>Cost Savings:</em>
        <p>Subscribers benefit from exclusive discounts and reduced shipping rates.
      </li>
      <li>
        <em>Dedicated Support:</em>
        <p>Subscribers receive priority access to our customer support team.
      </li>
      <li>
        <em>Reliability Guaranteed:</em>
        <p>You can count on consistent, reliable service.
      </li>
      <li>
        <em>Easy Renewals:</em>
        <p>Subscription renewals are hassle-free.
      </li>
      <li>
        <em>Environmental Responsibility:</em>
        <p>You contribute to our sustainability efforts.
      </li>
    </ol>
  </section>

  <section class="feature-table">
    <table>
      <caption>Shipping Options</caption>
      <thead>
      <tr>
        <th>Shipping Option</th>
        <th>Delivery Time</th>
        <th>Tracking Available</th>
        <th>Insurance Included</th>
        <th>Additional Services</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Standard Shipping</td>
        <td class="success">5-7 business days</td>
        <td class="success">Yes</td>
        <td class="success">Yes</td>
        <td class="success">Package consolidation</td>
      </tr>
      <tr>
        <td>Express Shipping</td>
        <td class="success">2-3 business days</td>
        <td class="success">Yes</td>
        <td class="success">Yes</td>
        <td class="success">Signature required</td>
      </tr>
      <tr>
        <td>International Shipping</td>
        <td class="warning">7-14 business days</td>
        <td class="success">Yes</td>
        <td class="success">Yes</td>
        <td class="success">Customs assistance</td>
      </tr>
      <tr>
        <td>Same-Day Delivery</td>
        <td class="success">Same day</td>
        <td class="success">Yes</td>
        <td class="success">Yes</td>
        <td class="success">Local courier</td>
      </tr>
      <tr>
        <td>Overnight Shipping</td>
        <td class="success">1 business day</td>
        <td class="success">Yes</td>
        <td class="success">Yes</td>
        <td class="success">Early morning delivery</td>
      </tr>
      <tr>
        <td>Economy Shipping</td>
        <td class="warning">10-14 business days</td>
        <td class="warning">Limited</td>
        <td class="success">Yes</td>
        <td class="warning"></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="5">Note: Shipping options and details are subject to change. Please check with us for the most up-to-date information.</td>
      </tr>
      </tfoot>
    </table>
  </section>

  <section class="feedback">
    <div class="header">Leave your feedback to make our service better!</div>
    <form>
      <label for="email">Email</label>
      <input id="email" name="email" type="date" required placeholder="example@com.ua"/>
      <label for="fullName">Full Name</label>
      <input id="fullName" name="fullName" type="text" required placeholder="Enter your full name" maxlength="64"/>
      <label for="feedback">What you can tell about our service?</label>
      <textarea id="feedback" name="feedback" required placeholder="leave your feedback here" maxlength="255"></textarea>
      <label for="role">How you interacted with service?</label>
      <select id="role" name="role" required multiple>
        <option value="1" selected>Client</option>
        <option value="2">Company</option>
        <option value="3">Partner</option>
        <option value="4">Employee</option>
        <option value="5">Other</option>
      </select>
      <label for="quality">Please give a grade to our service</label>
      <select id="quality" required name="quality">
        <option value="1">Excellent</option>
        <option value="2">Good</option>
        <option value="3" selected>Normal</option>
        <option value="4">Bad</option>
        <option value="5">Awful</option>
      </select>
      <label for="agreement">Do you give your agreement to process your personal data?</label><input id="agreement" type="checkbox" class="checkbox"/>
      <button type="submit" formmethod="post" [formAction]="null">Submit</button>
    </form>
  </section>
</div>
