<section class="wrapper">
  <div class="background">
    <div class="promo">
      <article class="inner">
        <div class="header">Providing the highest quality service</div>
        <div class="time">24 hours a day</div>
        <div class="button">Try it out</div>
      </article>
    </div>
  </div>
  <section class="features-wrapper">
    <div class="header">Our features</div>
    <div class="features">
      <a class="feature" href="#pricing">
        <div class="icon pricing-icon" ></div>
        <div class="header">Pricing</div>
        <div class="description">Prices depends on size of cargo</div>
      </a>
      <a class="feature" href="#time">
        <div class="icon time-icon"></div>
        <div class="header">Time</div>
        <div class="description">Cargo arrives in time</div>
      </a>
      <a class="feature" href="#online">
        <div class="icon online-icon"></div>
        <div class="header">Online</div>
        <div class="description">Track your cargo in real time</div>
      </a>
      <a class="feature" href="#subscription">
        <div class="icon subscription-icon"></div>
        <div class="header">Subscription</div>
        <div class="description">For our regular clients</div>
      </a>
    </div>
  </section>
  <section class="feature-article" style="background-color: #0F6D5F" id="pricing">
    <img class="image" alt="the picture cannot be loaded" src="https://img.freepik.com/free-vector/transactional-marketing-abstract-illustration_335657-5035.jpg?w=740&t=st=1695885093~exp=1695885693~hmac=462e3792619142884c5b63189e6472415eec0824e7240053729755d0362ab041">
    <ol type="I" class="description">
      <li><em>Transparent Pricing:</em>
        <p>We believe in transparency, and that's why we provide clear and upfront pricing.
      </li>
      <li>
        <em>Customized Solutions:</em>
        <p>We understand that every cargo shipment is unique.
      </li>
      <li>
        <em>Cost-Efficient Routing:</em>
        <p>Our team of logistics experts is dedicated to finding the most cost-efficient routes
      </li>
      <li>
        <em>Bulk Discounts:</em>
        <p>If you have larger cargo or frequent shipments, take advantage of our attractive bulk discounts.
      </li>
      <li>
        <em>Quality Service:</em>
        <p>Affordable pricing doesn't mean compromising on service quality.
      </li>
      <li>
        <em>Savings for Small Businesses:</em>
        <p>We understand the challenges faced by small businesses.
      </li>
    </ol>
  </section>
  <section class="feature-article" id="time">
    <img class="image" alt="the picture cannot be loaded" src="https://img.freepik.com/free-vector/background-of-coming-soon-with-a-clock_1017-5059.jpg?w=740&t=st=1695884786~exp=1695885386~hmac=d649c06fe9d3ea4e71de68ee924fb85834b9f958fda7ecf205b85a1759c81144">

    <ol type="I" class="description">
      <li><em>Reliable Commitment:</em>
        <p>We take punctuality seriously, ensuring your cargo reaches its destination without delays.
      </li>
      <li>
        <em>Precision Timing:</em>
        <p>State-of-the-art tracking and expert management guarantee timely deliveries.
      </li>
      <li>
        <em>Efficient Operations:</em>
        <p>Streamlined processes and advanced technology minimize transit times.
      </li>
      <li>
        <em>Global Reach:</em>
        <p>We deliver cargo worldwide in best timing.
      </li>
      <li>
        <em>Customer Priority:</em>
        <p>Our 24/7 support team is dedicated to keeping you updated and addressing concerns.
      </li>
      <li>
        <em>Your Promises, Our Priority:</em>
        <p>Trust us for on-time cargo delivery, every time, and experience the difference.
      </li>
    </ol>
  </section>
  <section class="feature-article" style="background-color: #0F6D5F" id="online">
    <img class="image" alt="the picture cannot be loaded" src="https://img.freepik.com/free-vector/tracking-delivery-package-on-smartphone-application-delivery-point-validation-delivery-driver-app-independent-courier-concept-pinkish-coral-bluevector-isolated-illustration_335657-1784.jpg?w=1060&t=st=1695888339~exp=1695888939~hmac=b0187d84fda1c45cc98bc9ed6f728fa3c66d3d94a6848addfd8e3ceac8fc8905">
    <ol type="I" class="description">
      <li><em>Easy Booking:</em>
        <p>Our user-friendly website allows you to book your cargo delivery in just a few clicks.
      </li>
      <li>
        <em>Real-Time Tracking:</em>
        <p>Stay in control with real-time tracking of your cargo.
      </li>
      <li>
        <em>Secure Payments:</em>
        <p> We prioritize your security.
      </li>
      <li>
        <em>Instant Quotes:</em>
        <p>Get instant quotes for your cargo delivery right on our website.
      </li>
      <li>
        <em>Booking History:</em>
        <p>Easily access your shipment history for reference and future planning.
      </li>
      <li>
        <em>Mobile-Friendly:</em>
        <p> Whether you're on your computer, tablet, or smartphone,
          our website is fully responsive, ensuring a smooth experience on any device.
      </li>
    </ol>
  </section>
  <section class="feature-article" id="subscription">
    <img class="image" alt="the picture cannot be loaded" src="https://img.frepik.com/fr0053729755d0362ab041">
    <ol type="I" class="description">
      <li><em>Priority Scheduling:</em>
        <p>As a subscriber, you'll enjoy priority scheduling for your cargo deliveries.
      </li>
      <li>
        <em>Cost Savings:</em>
        <p>Subscribers benefit from exclusive discounts and reduced shipping rates.
      </li>
      <li>
        <em>Dedicated Support:</em>
        <p>Subscribers receive priority access to our customer support team.
      </li>
      <li>
        <em>Reliability Guaranteed:</em>
        <p>With a subscription, you can count on consistent, reliable service.
      </li>
      <li>
        <em>Easy Renewals:</em>
        <p>Subscription renewals are hassle-free.
      </li>
      <li>
        <em>Environmental Responsibility:</em>
        <p>By subscribing to our service, you contribute to our sustainability efforts.
      </li>
    </ol>
  </section>
</section>
