:host {
  width: 100%;
  min-height: 660px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #EEEAEA;

  .background {
    width: 100%;
    height: 450px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/shipping_img.png);

    .promo {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      top: 75px;
      left: 50px;
      width: 40%;
      height: 70%;
      background-color: rgba(255, 255, 255, 0.8);

      .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
        padding: 10px;
        border: #FF891C 3px solid;

        .header {
          width: 100%;
          text-align: center;
          color: #FF891C;
          font-size: 36px;
          font-weight: 700;
        }

        .time {
          width: 100%;
          text-align: center;
          color: #FF891C;
          font-size: 32px;
        }

        .button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50%;
          height: 25%;
          margin-top: 50px;
          border: #FF891C 5px solid;
          color: #FF891C;
          font-size: 36px;
          font-weight: 700;
          cursor: pointer;
          transition: 0.3s;
        }

        .button:hover {
          background-color: #FF891C;
          color: white;
        }
      }
    }
  }

  .features-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 400px;

    .header {
      width: 100%;
      text-align: center;
      color: #FF891C;
      font-size: 36px;
      font-weight: 700;
    }

    .features {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 90%;

      .feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 15%;
        height: 50%;
        margin: 0 20px 0 20px;
        border: #FF891C 0 solid;
        transition: 0.3s;
        cursor: pointer;

        .icon {
          aspect-ratio: 1/1;
          height: 96px;
          background-repeat: no-repeat;
          background-size: contain;
        }

        .header {
          width: 100%;
          text-align: center;
          color: #FF891C;
          font-size: 36px;
          font-weight: 700;
        }

        .description {
          visibility: hidden;
          width: 100%;
          text-align: center;
          color: #FF891C;
          font-size: 20px;
        }
      }

      .feature:hover {
        height: 60%;
        margin: 0 20px 0 20px;
        border: #FF891C 2px solid;

        .description {
          visibility: initial;
        }
      }
    }

  }

  .feature-article {
    display: flex;
    flex-direction: row;
    align-items: center;


    width: 100%;
    height: 400px;
    padding: 10px;

    .image {
      width: 30%;
      height: 90%;
      border: #FF891C 5px solid;
    }

    .description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;


      width: 70%;
      height: 90%;
      padding: 5px;
      color: #FF891C;

      li {
        width: 30%;
        height: 30%;
        margin: 5px;

        border-bottom: #FF891C 3px solid;

        em {
          font-size: 18px;
          font-weight: 700;
        }

        p {
          font-size: 16px;
        }
      }

      li::marker {
        color: #FF891C;
        font-size: 20px;
      }
    }
  }

  .feature-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;

    background-color: #0F6D5F;
    color: #FF891C;

    table {
      width: 80%;
      height: 80%;
      text-align: center;
      margin: 0;
      border-spacing: 0;
    }

    thead {
      margin-bottom: 5px;
      height: 50px;
    }

    tfoot {
      td {
        padding: 5px;
      }
    }
    caption {
      font-weight: 700;
      font-size: 36px;
    }

    th {
      background-color: #EEEAEA;
      font-size: 16px;
      border-bottom: #FF891C 2px solid;
    }

    tr {
      margin: 5px;
    }

    td {
      background-color: #EEEAEA;
      font-size: 14px;
    }

    .success {
      background-color: #8ad58a;
      color: black;
    }

    .warning {
      background-color: #FF891C;
      color: white;
    }
  }

  .feedback {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 575px;

    .header {
      font-weight: 700;
      font-size: 36px;

      color: #FF891C;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
      height: 80%;

      border: #FF891C 1px solid;

      label {
        color: #FF891C;
        font-weight: 700;
        text-align: center;
      }

      input {
        width: 60%;
        height: 30px;
        text-align: center;
        border: #FF891C 0 solid;
        font-size: 16px;
      }

      input:focus, textarea:focus {
        box-shadow: none;
        outline: none;
        border: #FF891C 3px solid;
      }

      textarea {
        min-width: 60%;
        max-width: 60%;
        min-height: 50px;
        max-height: 80px;
        text-align: center;
        border: #FF891C 0 solid;
        font-size: 16px;
      }


      select {
        width: 40%;
        border: #FF891C 0 solid;
        padding: 5px;
        font-size: 16px;

        option {
          margin-bottom: 2px;
          text-align: center;
        }

        option:checked {
          background-color: rgba(255, 137, 28, 0.5);
        }
      }

      select:focus {
        box-shadow: none;
        outline: none;
      }

      .checkbox {
        height: 32px;
      }

      .checkbox:active {
        background-color: #FF891C;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 10%;
        margin: 5px;

        font-size: 32px;
        color: #FF891C;
        border: #FF891C 5px solid;
        transition: 0.3s;
      }

      button:hover {
        background-color: #FF891C;
        color: white;
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      width: 100%;
      height: 550px;

      .promo {
        top: 75px;
        left: 100px;
        width: 40%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 10px;

          .header {
            font-size: 46px;
          }

          .time {
            font-size: 36px;
          }

          .button {
            width: 50%;
            height: 35%;
            margin-top: 50px;
            border: #FF891C 5px solid;
            font-size: 46px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 36px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 15%;
          height: 50%;
          margin: 0 20px 0 20px;

          .icon {
            height: 96px;
          }

          .header {
            font-size: 36px;
          }

          .description {
            font-size: 20px;
          }
        }

        .feature:hover {
          height: 60%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      width: 100%;
      height: 500px;
      padding: 10px;

      .image {
        width: 30%;
        height: 90%;
      }

      .description {
        width: 70%;
        height: 90%;
        padding: 5px;

        li {
          width: 30%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 24px;
          }

          p {
            font-size: 20px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 500px;


      table {
        width: 80%;
        height: 80%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 36px;
      }

      th {
        font-size: 24px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 20px;
      }
    }

    .feedback {
      width: 100%;
      height: 700px;

      .header {
        font-weight: 700;
        font-size: 36px;

      }

      form {
        width: 60%;
        height: 90%;


        label {
          font-size: 16px;
        }

        input {
          width: 60%;
          height: 60px;
          font-size: 24px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
          font-size: 24px;
        }


        select {
          width: 40%;
          padding: 5px;
          font-size: 24px;
        }

        button {
          width: 30%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) and (max-width: 2559px) {

  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      width: 100%;
      height: 450px;

      .promo {
        top: 75px;
        left: 50px;
        width: 40%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 10px;

          .header {
            font-size: 36px;
          }

          .time {
            font-size: 32px;
          }

          .button {
            width: 50%;
            height: 25%;
            margin-top: 50px;
            border: #FF891C 5px solid;
            font-size: 36px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 36px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 15%;
          height: 50%;
          margin: 0 20px 0 20px;

          .icon {
            height: 96px;
          }

          .header {
            font-size: 36px;
          }

          .description {
            font-size: 20px;
          }
        }

        .feature:hover {
          height: 60%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      width: 100%;
      height: 400px;
      padding: 10px;

      .image {
        width: 30%;
        height: 90%;
      }

      .description {
        width: 70%;
        height: 90%;
        padding: 5px;

        li {
          width: 30%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 18px;
          }

          p {
            font-size: 16px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 450px;


      table {
        width: 80%;
        height: 80%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 36px;
      }

      th {
        font-size: 16px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 14px;
      }
    }

    .feedback {
      width: 100%;
      height: 575px;

      .header {
        font-weight: 700;
        font-size: 36px;

      }

      form {
        width: 60%;
        height: 80%;


        label {
          font-size: 16px;
        }

        input {
          width: 60%;
          height: 30px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
        }


        select {
          width: 40%;
          padding: 5px;
        }

        button {
          width: 30%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      width: 100%;
      height: 450px;

      .promo {
        top: 75px;
        left: 50px;
        width: 40%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 10px;

          .header {
            font-size: 36px;
          }

          .time {
            font-size: 32px;
          }

          .button {
            width: 50%;
            height: 25%;
            margin-top: 50px;
            border: #FF891C 5px solid;
            font-size: 36px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 36px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 20%;
          height: 50%;
          margin: 0 20px 0 20px;

          .icon {
            height: 96px;
          }

          .header {
            font-size: 30px;
          }

          .description {
            font-size: 18px;
          }
        }

        .feature:hover {
          height: 60%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      width: 100%;
      height: 400px;
      padding: 10px;

      .image {
        width: 30%;
        height: 90%;
      }

      .description {
        width: 70%;
        height: 90%;
        padding: 5px;

        li {
          width: 30%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 16px;
          }

          p {
            font-size: 12px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 450px;


      table {
        width: 80%;
        height: 80%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 36px;
      }

      th {
        font-size: 16px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 14px;
      }
    }

    .feedback {
      width: 100%;
      height: 575px;

      .header {
        font-weight: 700;
        font-size: 36px;

      }

      form {
        width: 60%;
        height: 80%;


        label {
          font-size: 16px;
        }

        input {
          width: 60%;
          height: 30px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
        }


        select {
          width: 40%;
          padding: 5px;
        }

        button {
          width: 30%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      width: 100%;
      height: 450px;

      .promo {
        top: 75px;
        left: 50px;
        width: 60%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 10px;

          .header {
            font-size: 36px;
          }

          .time {
            font-size: 32px;
          }

          .button {
            width: 50%;
            height: 25%;
            margin-top: 50px;
            border: #FF891C 5px solid;
            font-size: 36px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 36px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 30%;
          height: 40%;
          margin: 0 20px 0 20px;

          .icon {
            height: 64px;
          }

          .header {
            font-size: 30px;
          }

          .description {
            font-size: 18px;
          }
        }

        .feature:hover {
          height: 50%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      width: 100%;
      height: 400px;
      padding: 10px;

      .image {
        width: 40%;
        height: 90%;
      }

      .description {
        width: 60%;
        height: 90%;
        padding: 5px;

        li {
          width: 30%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 16px;
          }

          p {
            font-size: 12px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 450px;


      table {
        width: 80%;
        height: 80%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 36px;
      }

      th {
        font-size: 16px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 14px;
      }
    }

    .feedback {
      width: 100%;
      height: 575px;

      .header {
        font-weight: 700;
        font-size: 28px;

      }

      form {
        width: 60%;
        height: 80%;


        label {
          font-size: 16px;
        }

        input {
          width: 60%;
          height: 30px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
        }


        select {
          width: 40%;
          padding: 5px;
        }

        button {
          width: 50%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 450px;

      .promo {
        top: 0;
        left: 0;
        width: 90%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 5px;

          .header {
            font-size: 36px;
          }

          .time {
            font-size: 24px;
          }

          .button {
            width: 50%;
            height: 25%;
            margin-top: 20px;
            border: #FF891C 5px solid;
            font-size: 36px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 24px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 30%;
          height: 40%;
          margin: 0 10px 0 10px;

          .icon {
            height: 64px;
          }

          .header {
            font-size: 20px;
          }

          .description {
            font-size: 14px;
          }
        }

        .feature:hover {
          height: 45%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
      padding: 10px;

      .image {
        display: none;
        width: 40%;
        height: 90%;
      }

      .description {
        width: 90%;
        height: 90%;
        padding: 5px;

        li {
          width: 30%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 14px;
          }

          p {
            font-size: 10px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 450px;


      table {
        width: 90%;
        height: 90%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 24px;
      }

      th {
        font-size: 14px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 12px;
      }
    }

    .feedback {
      width: 100%;
      height: 575px;

      .header {
        text-align: center;
        font-weight: 700;
        font-size: 24px;

      }

      form {
        width: 80%;
        height: 80%;


        label {
          font-size: 12px;
        }

        input {
          width: 60%;
          height: 30px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
        }


        select {
          width: 40%;
          padding: 5px;
        }

        button {
          width: 50%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 450px;

      .promo {
        top: 0;
        left: 0;
        width: 90%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 5px;

          .header {
            font-size: 32px;
          }

          .time {
            font-size: 20px;
          }

          .button {
            width: 50%;
            height: 25%;
            margin-top: 20px;
            border: #FF891C 5px solid;
            font-size: 28px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 24px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 30%;
          height: 40%;
          margin: 0 10px 0 10px;

          .icon {
            height: 64px;
          }

          .header {
            font-size: 16px;
          }

          .description {
            font-size: 14px;
          }
        }

        .feature:hover {
          height: 45%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
      padding: 10px;

      .image {
        display: none;
        width: 40%;
        height: 90%;
      }

      .description {
        width: 90%;
        height: 90%;
        padding: 5px;

        li {
          width: 40%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 12px;
          }

          p {
            font-size: 10px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 450px;


      table {
        width: 90%;
        height: 90%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 24px;
      }

      th {
        font-size: 14px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 12px;
      }
    }

    .feedback {
      width: 100%;
      height: 575px;

      .header {
        text-align: center;
        font-weight: 700;
        font-size: 24px;

      }

      form {
        width: 80%;
        height: 80%;


        label {
          font-size: 12px;
        }

        input {
          width: 60%;
          height: 30px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
        }


        select {
          width: 40%;
          padding: 5px;
        }

        button {
          width: 50%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .wrapper {
    width: 100%;
    min-height: 100%;

    .background {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 450px;

      .promo {
        top: 0;
        left: 0;
        width: 90%;
        height: 70%;

        .inner {
          width: 90%;
          height: 90%;
          padding: 5px;

          .header {
            font-size: 32px;
          }

          .time {
            font-size: 20px;
          }

          .button {
            width: 50%;
            height: 25%;
            margin-top: 20px;
            border: #FF891C 5px solid;
            font-size: 28px;
          }
        }
      }
    }

    .features-wrapper {
      width: 100%;
      height: 400px;

      .header {
        width: 100%;
        font-size: 24px;
      }

      .features {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 90%;

        .feature {
          width: 30%;
          height: 40%;
          margin: 0 10px 0 10px;

          .icon {
            height: 64px;
          }

          .header {
            font-size: 16px;
          }

          .description {
            font-size: 14px;
          }
        }

        .feature:hover {
          height: 45%;
          margin: 0 20px 0 20px;
          border: #FF891C 2px solid;
        }
      }

    }

    .feature-article {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 400px;
      padding: 10px;

      .image {
        display: none;
        width: 40%;
        height: 90%;
      }

      .description {
        width: 90%;
        height: 90%;
        padding: 5px;

        li {
          width: 40%;
          height: 30%;
          margin: 5px;

          border-bottom: #FF891C 3px solid;

          em {
            font-size: 12px;
          }

          p {
            font-size: 10px;
          }
        }

        li::marker {
          font-size: 20px;
        }
      }
    }

    .feature-table {
      width: 100%;
      height: 450px;


      table {
        width: 90%;
        height: 90%;
      }

      thead {
        margin-bottom: 5px;
        height: 50px;
      }

      tfoot {
        td {
          padding: 5px;
        }
      }
      caption {
        font-weight: 700;
        font-size: 24px;
      }

      th {
        font-size: 14px;
      }

      tr {
        margin: 5px;
      }

      td {
        font-size: 12px;
      }
    }

    .feedback {
      width: 100%;
      height: 575px;

      .header {
        text-align: center;
        font-weight: 700;
        font-size: 24px;

      }

      form {
        width: 80%;
        height: 80%;


        label {
          font-size: 12px;
        }

        input {
          width: 60%;
          height: 30px;
        }

        textarea {
          min-width: 60%;
          max-width: 60%;
          min-height: 50px;
          max-height: 80px;
          text-align: center;
        }


        select {
          width: 40%;
          padding: 5px;
        }

        button {
          width: 50%;
          height: 10%;
          margin: 5px;

          font-size: 32px;
        }
      }
    }
  }
}
