.pricing-icon {
  background-image: url(/assets/icons/price.png);
}

.time-icon {
  background-image: url(/assets/icons/icons8-time-96.png);
}

.online-icon {
  background-image: url(/assets/icons/icons8-online-96.png);
}

.subscription-icon {
  background-image: url(/assets/icons/icons8-monthly-payment-96.png);
}

.session-button {
  background-image: url(/assets/icons/session_out.png);
}

.burger-icon {
  background-image: url(/assets/icons/burger.png);
}

.close-icon {
  background-image: url(/assets/icons/close.png);
}
