<div class="content-wrapper">
  <div class="operation-block">
    <div class="button" [routerLink]="[{ outlets: { 'side': ['add-operation'] } }]">
      <div class="icon add-icon"></div>
      <div class="text">Add operation</div>
    </div>
    <div class="button" [routerLink]="[{ outlets: { 'side': ['spending'] } }]">
      <div class="icon spending-icon"></div>
      <div class="text">Total spending</div>
    </div>
    <div class="button" [routerLink]="[{ outlets: { 'side': ['income'] } }]">
      <div class="icon income-icon"></div>
      <div class="text">Total income</div>
    </div>
  </div>
  <div class="budget-details">
    <div class="budget-content-wrapper">
      <router-outlet name="side"></router-outlet>
    </div>
  </div>
</div>


