.add-icon {
  background-image: url(/assets/icons/add.png);
}

.arrow-icon {
  background-image: url(/assets/icons/arrow.png);
}

.ok-icon {
  background-image: url(/assets/icons/ok.png);
}

.spending-icon {
  background-image: url(/assets/icons/payment.png);
}

.income-icon {
  background-image: url(/assets/icons/payment.png);
  transform: rotate(180deg);
}

