.phone-icon {
  background-image: url(/assets/icons/icons8-phone-96.png);
}

.email-icon {
  background-image: url(/assets/icons/icons8-email-96.png);
}

.create-icon-icon {
  background-image: url(/assets/icons/icons8-create-icon-96.png);
}

.picture-icon {
  background-image: url(/assets/icons/icons8-picture-96.png);
}
