<footer class="footer">
  <div class="wrapper">
    <div class="logo">Deliverize</div>
    <div class="contact">
      <div class="icon phone-icon"></div>
      <div class="text">068 068 0680</div>
    </div>
    <div class="contact">
      <div class="icon email-icon"></div>
      <div class="text">example@com.ua</div>
    </div>
    <a href="https://icons8.com" class="contact">
      <div class="icon create-icon-icon"></div>
      <div class="text">Source of all icons</div>
    </a>
    <a href="https://ru.freepik.com" class="contact">
      <div class="icon picture-icon"></div>
      <div class="text">Source of all pictures</div>
    </a>
  </div>
</footer>
