.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background-color: #f3f2f2;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: #626060;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
