.letter-delivery {
  background-image: url(/assets/images/letter_512x512.png);
}

.cargo-delivery {
  background-image: url(/assets/images/cargo_512x512.png);
  background-origin: content-box;
}

.document-delivery {
  background-image: url(/assets/images/document_512x512.png);
}
