<div class="wrapper">
  <div class="services">
    <div class="card-item">
      <div class="header">Letter delivery</div>
      <div class="img letter-delivery"></div>
      <div class="button">Make a delivery</div>
    </div>
    <div class="card-item">
      <div class="header">Cargo delivery</div>
      <div class="img cargo-delivery"></div>
      <div class="button">Make a delivery</div>
    </div>
    <div class="card-item">
      <div class="header">Document delivery</div>
      <div class="img document-delivery"></div>
      <div class="button">Make a delivery</div>
    </div>
  </div>
</div>
