<div class="history-wrapper">
  <div class="profile-wrapper">
    <div class="picture user-icon"></div>
    <div class="name">Maksym Shevchuk</div>
    <div class="email">www.maxim2003@ukr.net</div>
  </div>
  <div class="content-wrapper">
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
    <div class="payment">
      <div class="icon"></div>
      <div class="info">
        <div class="details">Letty Shops</div>
        <div class="date">20.07.2023 12:14</div>
      </div>
      <div class="money">
        <div class="amount">-500</div>
        <div class="currency">UAH</div>
      </div>
    </div>
  </div>
</div>
