.home-icon {
  background-image: url(/assets/icons/home.png);
}

.services-icon {
  background-image: url(/assets/icons/services.png);
}

.pricing-icon {
  background-image: url(/assets/icons/pricing.png);
}

.profile-icon {
  background-image: url(/assets/icons/profile_icon.png);
}

.session-button {
  background-image: url(/assets/icons/session_out.png);
}

.burger-icon {
  background-image: url(/assets/icons/burger.png);
}

.close-icon {
  background-image: url(/assets/icons/close.png);
}
